.menu {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  font-size: 1.5rem;
  list-style: none;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__home {
    list-style: none;
    align-self: stretch;
  }
  &__favorite {
    list-style: none;
    align-self: stretch;
  }
}
