.header {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  gap: 1rem;
  &__ logo {
    margin-top: 100px;
  }
  &__title {
    font-size: 4.5rem;
    margin-top: 100px;
    margin: 0;
  }
  &__phrase {
    font-size: 2rem;
    font-weight: 800;
  }
}
